@charset "UTF-8";

.header_bar {	
	display: flex;
	height: 100px;
	background-color: hsl(210deg 100% 60%);
}
body {	
	margin: 0;
	background-color: hsl(210deg 80% 30%);
}
.nav_bar{
	display: flex;
	margin-top: 0;
	height: 100px;
}
.nav_position {
	position: absolute;
	left: 57%;
}
.nav_bar > li {
	display: flex;
	list-style: none;	
}
.nav_bar > li > a {
	text-decoration: none;
}
.nav_title{
	margin-left: 10px;
	text-transform: uppercase;
	color: hsl(280deg 80% 20%);
	text-align: center;
	line-height: 100px;
	font-size: 30px;
}
.nav_list {
	width: 8em;
	text-align: center;
	line-height: 100px;
	font-size: 25px;
	font-family: fantasy sans-serif cursive;
	color: hsl(280deg 80% 20%);
}
.nav_bar > li > a:hover {
 	border-radius: 0; 
	color: hsl(280deg 80% 20%);
	background-color: hsl(210deg 50% 90%);
}
.active {
	border-radius: 40% 40% 0% 0%;
	color: hsl(120deg 60% 80%);
	background-color: hsl(210deg 80% 30%);
}
.box {
	margin-top: 10%;
}
.card {
	display: grid;
	grid-template-rows: 60px;
	background-color: hsl(310deg 10% 60%);
	border-bottom-style: ridge;
	font-size:25px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 20px;
}
.box_frame {
	margin: 20px auto;
	border-style: ridge;
/* 	border-style: revert-layer; */
/* 	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
/* 	box-shadow: 20px 0px 0px rgba(255 0 0 0.5); */
	box-shadow: -12px -22px 20px 1px rgba(255, 0, 0, .2);
	width: 600px;
	height: 400px;
	background-color: hsl(200deg 50% 80%); 
}
